extends ../../_layouts/lo-normal/right_sidebar
append config
	- var dirPrefix = '../'
	- var PSbodyClass = bodyClasses.push('sticky-header')
	- var PSwrapperClasses = wrapperClasses.push('regular-layout')
	- var PSheaderClasses = headerClasses.push(' ') 
	- var pageTitle = "News & Blog"
	- var PageTitleHead = ""
	- var PageTitleDesc = ""
	- var bcType = "intitle"
	- var pageTitleClass = 'lined'
	- var pageTitleImage = dirPrefix+"assets/img/backgrounds/bg-dark-01.jpg"
	
	- var currentMenu = "News"
	- var lorem = "Phasellus lectus sem, egestas eget sollicitudin ut, lobortis ac nulla. Quisque nibh diam, mattis pharetra aliquet sed, venenatis quis neque. Pellentesque pellentesque iaculis porta. Nam quis odio vitae lectus convallis accumsan et sed neque. "
	
block main-area
	// #####Begin posts list
	.news-posts.small-list
		.row.post
			.col-md-6
				a.post-thumb(href="#")
					img(src=dirPrefix+"assets/img/news/thumb-1.jpg")
			.col-md-6
				h3.title
					a(href="#") Undergrads Dive Deep for Submarine Competition
				ul.meta
					li.publish_date 
						| on 
						span.date 25 Sep 2015
					li.author
						| by 
						a(href="#") Admin
					li.cats
						| in 
						a(href="#") Research News
				.post-excerpt
					| #{lorem}									
				a.read-more.btn.btn-small.btn-round.btn-anim-drawer(href="#") Read More
		.sp-line-90
		.row.post
			.col-md-6
				a.post-thumb(href="#")
					img(src=dirPrefix+"assets/img/news/thumb-2.jpg")
			.col-md-6
				h3.title
					a(href="#") Undergrads Dive Deep for Submarine Competition
				ul.meta
					li.publish_date 
						| on 
						span.date 25 Sep 2015
					li.author
						| by 
						a(href="#") Admin
					li.cats
						| in 
						a(href="#") Research News
				.post-excerpt
					| #{lorem}
				a.read-more.btn.btn-small.btn-round.btn-anim-drawer(href="#") Read More
		.sp-line-90
		.row.post
			.col-md-6
				a.post-thumb(href="#")
					img(src=dirPrefix+"assets/img/news/thumb-3.jpg")
			.col-md-6
				h3.title
					a(href="#") Undergrads Dive Deep for Submarine Competition
				ul.meta
					li.publish_date 
						| on 
						span.date 25 Sep 2015
					li.author
						| by 
						a(href="#") Admin
					li.cats
						| in 
						a(href="#") Research News
				.post-excerpt
					| #{lorem}
				a.read-more.btn.btn-small.btn-round.btn-anim-drawer(href="#") Read More
		.sp-line-90
		.row.post
			.col-md-6
				a.post-thumb(href="#")
					img(src=dirPrefix+"assets/img/news/thumb-4.jpg")
			.col-md-6
				h3.title
					a(href="#") Undergrads Dive Deep for Submarine Competition
				ul.meta
					li.publish_date 
						| on 
						span.date 25 Sep 2015
					li.author
						| by 
						a(href="#") Admin
					li.cats
						| in 
						a(href="#") Research News
				.post-excerpt
					| #{lorem}
				a.read-more.btn.btn-small.btn-round.btn-anim-drawer(href="#") Read More
		.sp-line-90
		.row.post
			.col-md-6
				a.post-thumb(href="#")
					img(src=dirPrefix+"assets/img/news/thumb-2.jpg")
			.col-md-6
				h3.title
					a(href="#") Undergrads Dive Deep for Submarine Competition
				ul.meta
					li.publish_date 
						| on 
						span.date 25 Sep 2015
					li.author
						| by 
						a(href="#") Admin
					li.cats
						| in 
						a(href="#") Research News
				.post-excerpt
					| #{lorem}
				a.read-more.btn.btn-small.btn-round.btn-anim-drawer(href="#") Read More
		.sp-line-90
		.row.post
			.col-md-6
				a.post-thumb(href="#")
					img(src=dirPrefix+"assets/img/news/thumb-3.jpg")
			.col-md-6
				h3.title
					a(href="#") Undergrads Dive Deep for Submarine Competition
				ul.meta
					li.publish_date 
						| on 
						span.date 25 Sep 2015
					li.author
						| by 
						a(href="#") Admin
					li.cats
						| in 
						a(href="#") Research News
				.post-excerpt
					| #{lorem}
				a.read-more.btn.btn-small.btn-round.btn-anim-drawer(href="#") Read More
		.sp-line-90
		.row.post
			.col-md-6
				a.post-thumb(href="#")
					img(src=dirPrefix+"assets/img/news/thumb-4.jpg")
			.col-md-6
				h3.title
					a(href="#") Undergrads Dive Deep for Submarine Competition
				ul.meta
					li.publish_date 
						| on 
						span.date 25 Sep 2015
					li.author
						| by 
						a(href="#") Admin
					li.cats
						| in 
						a(href="#") Research News
				.post-excerpt
					| #{lorem}
				a.read-more.btn.btn-small.btn-round.btn-anim-drawer(href="#") Read More
		.sp-line-90
		.row.post
			.col-md-6
				a.post-thumb(href="#")
					img(src=dirPrefix+"assets/img/news/thumb-1.jpg")
			.col-md-6
				h3.title
					a(href="#") Undergrads Dive Deep for Submarine Competition
				ul.meta
					li.publish_date 
						| on 
						span.date 25 Sep 2015
					li.author
						| by 
						a(href="#") Admin
					li.cats
						| in 
						a(href="#") Research News
				.post-excerpt
					| #{lorem}
				a.read-more.btn.btn-small.btn-round.btn-anim-drawer(href="#") Read More
		.sp-line-90
		.row.post
			.col-md-6
				a.post-thumb(href="#")
					img(src=dirPrefix+"assets/img/news/thumb-2.jpg")
			.col-md-6
				h3.title
					a(href="#") Undergrads Dive Deep for Submarine Competition
				ul.meta
					li.publish_date 
						| on 
						span.date 25 Sep 2015
					li.author
						| by 
						a(href="#") Admin
					li.cats
						| in 
						a(href="#") Research News
				.post-excerpt
					| #{lorem}
				a.read-more.btn.btn-small.btn-round.btn-anim-drawer(href="#") Read More
		.sp-line-90
		.row.post
			.col-md-6
				a.post-thumb(href="#")
					img(src=dirPrefix+"assets/img/news/thumb-3.jpg")
			.col-md-6
				h3.title
					a(href="#") Undergrads Dive Deep for Submarine Competition
				ul.meta
					li.publish_date 
						| on 
						span.date 25 Sep 2015
					li.author
						| by 
						a(href="#") Admin
					li.cats
						| in 
						a(href="#") Research News
				.post-excerpt
					| #{lorem}
				a.read-more.btn.btn-small.btn-round.btn-anim-drawer(href="#") Read More
		.sp-line-90
		.row.post
			.col-md-6
				a.post-thumb(href="#")
					img(src=dirPrefix+"assets/img/news/thumb-4.jpg")
			.col-md-6
				h3.title
					a(href="#") Undergrads Dive Deep for Submarine Competition
				ul.meta
					li.publish_date 
						| on 
						span.date 25 Sep 2015
					li.author
						| by 
						a(href="#") Admin
					li.cats
						| in 
						a(href="#") Research News
				.post-excerpt
					| #{lorem}
				a.read-more.btn.btn-small.btn-round.btn-anim-drawer(href="#") Read More
		.sp-line-90
	// #####End posts list
	.sp-blank-100
	include ../../_partials/blocks/paginations/lined
block sidebar-1
	include ../../_partials/blocks/pages/sidebar-blog