extends ../../_layouts/lo-normal/fullwidth
append config
	- var dirPrefix = '../'
	- var PSbodyClass = bodyClasses.push('sticky-header')
	- var PSwrapperClasses = wrapperClasses.push('regular-layout')
	- var PSheaderClasses = headerClasses.push(' trans dark sticky-light') 
	- var pageTitle = "Scientists identify schizophrenia Rosetta Stone gene"
	- var PageTitleHead = "Resaerch highlights"
	- var PageTitleDesc = ""
	- var bcType = "intitle"
	- var headerParallaxType = ''
	- var pageTitleClass = 'dark hvh-70 center-it parallax-layer ov-grad1-alpha-60'
	- var pageTitleImage = dirPrefix+"assets/img/backgrounds/09.jpg"
	- var pageTitleParallaxMode = "bg-title"
	
	- var currentMenu = "News"
block main-area
	section.section.slim-container
		.container
			.single-post.m-top-30.large-typo
				// #####Begin post metadata
				.post-metas.center-meta
					a.avatar.avatar-sm(href="#")
						img(src=dirPrefix+"assets/img/avatars/01.jpg")
					ul.meta
						li.author
							| by 
							a(href="#") Admin
						li.publish_date 
							| on 
							span.date 25 Sep 2015
				// #####End post metadata
				// #####Begin post contents
				.post-body
					p
						span.ol-dropcaps.circle.colored S
						| cientists have identified a critical function of what they believe to be schizophrenias from a very large caseidf Rosetta Stone gene that could hold the key to decoding the function of all genes can involved in the disease dentified a critical function of what they believe to be schiz. am, mattis pharetra aliquet sed, venenatis quis neque. Pellentesque pellentesque iaculis porta. Nam quis odio vitae lectus convallis accumsan et sed neque. Integer eget mi eget risus eleifend consectetur vehicula sit amet neque.
					p.highlight.text-center
						| Breakthrough reveals genes influence in a vulnerable period of the brains development!
					p
						| The breakthrough has revealed a vulnerable period in the early stages of the brains development that researchers hope can be targeted for future efforts in reversing schizophrenia. The breakthrough has revealed a vulnerable period in the early stages of the brains development that researchers hope can be targeted for future efforts in reversing schizophrenia.
					.caption-img.off-container
						img(src=dirPrefix+"assets/img/backgrounds/04.jpg", alt='image hover')
						.caption Description of the image and the referece of it will be here. mage and the referece of it will be here nicely. You can use this to give reference of the Image
					p Their experiments in mice revealed that by preventing DISC-1 from binding with these molecules - using a protein-releasing drug called Tamoxifen at an early stage of the brains development – it would lack plasticity once it grows to its adult state, preventing cells (cortical neurons) in the brains largest region from being able to form synapses.
					blockquote.quote
						p We believe that DISC-1 is schizophrenias Rosetta Stone gene and could hold the master key to help us unlock our understand of the role played by all risk genes involved in the disease.
						footer Prof. John Doe , Chaos University.
					p Their experiments in mice revealed that by preventing DISC-1 from binding with these molecules - using a protein-releasing drug called Tamoxifen at an early stage of the brains development – it would lack plasticity once it grows to its adult state, preventing cells (cortical neurons) in the brains largest region from being able to form synapses.
					.alert.with-big-icons.alert-warning.text-left(role='alert') 
						i.icon.oi-idea-filled
						| Their experiments in mice revealed that by preventing DISC-1 from binding with these molecules - using a protein-releasing drug called Tamoxifen at an early stage of the brains development
					p Their experiments in mice revealed that by preventing DISC-1 from binding with these molecules - using a protein-releasing drug called Tamoxifen at an early stage of the brains development – it would lack plasticity once it grows to its adult state, preventing cells (cortical neurons) in the brains largest region from being able to form synapses.
					
					.caption-img.left-align.off-container
						img(src=dirPrefix+"assets/img/backgrounds/04.jpg", alt='image hover')
						.caption Description of the image and the referece of it will be here.
					p Their experiments in mice revealed that by preventing DISC-1 from binding with these molecules - using a protein-releasing drug called Tamoxifen at an early stage of the brains development – it would lack plasticity once it grows to its adult state, preventing cells (cortical neurons) in the brain. Their experiments in mice revealed that by preventing DISC-1 from binding with these molecules - using a protein-releasing drug called Tamoxifen at an early stage of the brains development – it would lack plasticity once it grows to its adult state, preventing cells (cortical neurons) in the brain. Their experiments Their experiments in mice revealed that by preventing DISC-1 from binding with these molecules - using a protein-releasing drug called Tamoxifen at an early stage of the brains development – it would lack plasticity once it grows to its adult state, preventing cells (cortical neurons) in the brain. Their experiments in mice.
					p Their experiments in mice revealed that by preventing DISC-1 from binding with these molecules - using a protein-releasing drug called Tamoxifen at an early stage of the brains development – it would lack plasticity once it grows to its adult state, preventing cells (cortical neurons) in the brain. Their experiments in mice revealed that by preventing DISC-1 from binding with these molecules - using a protein-releasing drug called Tamoxifen at an early stage of the brains development – it would lack plasticity once it grows to its adult state, preventing cells (cortical neurons) in the brain. Their experiments Their experiments in mice revealed that by preventing DISC-1 from binding with these molecules - using a protein-releasing drug called Tamoxifen at an early stage of the brains development – it would lack plasticity once it grows to its adult state, preventing cells (cortical neurons) in the brain. Their experiments in mice.
					.caption-img.right-align.off-container
						img(src=dirPrefix+"assets/img/backgrounds/04.jpg", alt='image hover')
						.caption Description of the image and the referece of it will be here.
					p 
						span.ol-dropcaps P
						| vealed that by preventing DISC-1 from binding with these molecules - using a protein-releasing drug called Tamoxifen at an early stage of the brains development – it would lack plasticity once it grows to its adult state, preventing cells (cortical neurons) in the brain. Their experiments in mice revealed that by preventing DISC-1 from binding with these molecules - using a protein-releasing drug called Tamoxifen at an early stage of the brains development – it would lack plasticity once it grows to its adult state, preventing cells (cortical neurons) in the brain. Their experiments in mice revealed that by preventing DISC-1 from binding with these molecules - using a protein-releasing drug called Tamoxifen at an early stage of the brains development – it would lack plasticity once it grows to its adult state, preventing cells (cortical neurons) in the brain.
				// #####End post contents
			// #####Begin author biography
			.author-bio
				.avatar.avatar-md
					img.img-circle(src=dirPrefix+'assets/img/avatars/05.jpg', alt='Owl Image')
				
				.author-bio-content
					h4
						a(href='#')
							| owwwlab
					p
						| We are a small, quick and talented design agency with big, vast and creative ideas. We don't work for you, we work with you.
					p   
						| Keep up with me on 
						a(href="#") Twitter 
						| and 
						a(href="#") Google+.
			// #####End author biography
			// #####Begin widget
			.widgetized-area-below-post
				.newsletter-form.set-bg.ov-grad3-alpha-90
						img.set-me(src=dirPrefix+"assets/img/backgrounds/05.jpg", alt='image')
						.nl-title
							h3 Stay notified about our latest News and Stories, Weekly!
						form.nl-form
							.form-with-border
								input.form-control(type='text', placeholder='Email Address...' name="nl-email")
							input.btn.btn-medium.btn-circle.btn-block.btn-skin-red(type='submit', value='Keep me posted!')
						.nl-etc
							| Awesome place for your secondary words!
			// #####End widget
	
	section.section.slim-container.bg-gray#comments
		.container
			h4.m-bottom-50 25 Comments
			form.comment-form(action="#")
				.row
					.col-sm-6
						input.input-lg.form-control(type="text", placeholder="Name" name="name")
					.col-sm-6
						input.input-lg.form-control(type="email", placeholder="Email" name="email")
				.sp-blank-20
				textarea.input-lg.form-control(rows=6, placeholder="Message...")
				.sp-blank-20
				input.btn.btn-medium.btn-block.btn-thick-border(type='submit', value='Post')
			// #####Begin comments
			ul.comments
				// #####Begin single comment
				li.comment
					.avatar
						img(alt='alt', src=dirPrefix+'assets/img/people/01.jpg')
					.comment-body
						.comment-meta
							ul
								li.author-name
									a.url(href='#', rel='external nofollow') John Doe 
									span -
								li
									| September 16, 2014 at 7:03 am
								
						.comment-content
							p The Online Etymology Dictionary explains that the origin of job is from the obsolete phrase jobbe of work in the sense of piece of work, and most dictionaries list the Middle English gobbe meaning lump (gob) as the origin of jobbe. Attempts to link the word to the biblical character Job seem to be folk etymology.
				// #####End single comment
				// #####Begin single comment
				li.comment
					.avatar
						img(alt='alt', src=dirPrefix+'assets/img/people/03.jpg')
					.comment-body
						.comment-meta
							ul
								li.author-name
									a.url(href='#', rel='external nofollow') John Doe 
									span -
								li
									| September 16, 2014 at 7:03 am
								
						.comment-content
							p The Online Etymology Dictionary explains that the origin of job is from the obsolete phrase jobbe of work in the sense of piece of work, and most dictionaries list the Middle English gobbe meaning lump (gob) as the origin of jobbe. Attempts to link the word to the biblical character Job seem to be folk etymology.
					
					ul.clearfix
						li.comment
							.avatar
								img(alt='alt', src=dirPrefix+'assets/img/people/06.jpg')
							.comment-body
								.comment-meta
									ul
										li.author-name
											a.url(href='#', rel='external nofollow') John Doe 
											span -
										li
											| September 16, 2014 at 7:03 am
										
								.comment-content
									p The Online Etymology Dictionary explains that the origin of job is from the obsolete phrase jobbe of work in the sense of piece of work, and most dictionaries list.
							ul.clearfix
								li.comment
									.avatar
										img(alt='alt', src=dirPrefix+'assets/img/people/07.jpg')
									.comment-body
										.comment-meta
											ul
												li.author-name
													a.url(href='#', rel='external nofollow') John Doe 
													span -
												li
													| September 16, 2014 at 7:03 am
												
										.comment-content
											p The Online Etymology Dictionary explains that the origin of job is from the obsolete phrase jobbe of work in the sense of piece of work, and most dictionaries list.
								li.comment
									.avatar
										img(alt='alt', src=dirPrefix+'assets/img/people/03.jpg')
									.comment-body
										.comment-meta
											ul
												li.author-name
													a.url(href='#', rel='external nofollow') John Doe 
													span -
												li
													| September 16, 2014 at 7:03 am
												
										.comment-content
											p The Online Etymology Dictionary explains that the origin of job is from the obsolete phrase jobbe of work in the sense of piece of work, and most dictionaries list.
						li.comment
							.avatar
								img(alt='alt', src=dirPrefix+'assets/img/people/05.jpg')
							.comment-body
								.comment-meta
									ul
										li.author-name
											a.url(href='#', rel='external nofollow') John Doe 
											span -
										li
											| September 16, 2014 at 7:03 am
										
								.comment-content
									p The Online Etymology Dictionary explains that the origin of job is from the obsolete phrase jobbe of work in the sense of piece of work, and most dictionaries list.
				// #####End single comment
				
				// #####Begin single comment
				li.comment
					.avatar
						img(alt='alt', src=dirPrefix+'assets/img/people/02.jpg')
					.comment-body
						.comment-meta
							ul
								li.author-name
									a.url(href='#', rel='external nofollow') John Doe 
									span -
								li
									| September 16, 2014 at 7:03 am
								
						.comment-content
							p The Online Etymology Dictionary explains that the origin of job is from the obsolete phrase jobbe of work in the sense of piece of work, and most dictionaries list the Middle English gobbe meaning lump (gob) as the origin of jobbe. Attempts to link the word to the biblical character Job seem to be folk etymology.
				// #####End single comment
				
				// #####Begin single comment
				li.comment
					.avatar
						img(alt='alt', src=dirPrefix+'assets/img/people/04.jpg')
					.comment-body
						.comment-meta
							ul
								li.author-name
									a.url(href='#', rel='external nofollow') John Doe 
									span -
								li
									| September 16, 2014 at 7:03 am
								
						.comment-content
							p The Online Etymology Dictionary explains that the origin of job is from the obsolete phrase jobbe of work in the sense of piece of work, and most dictionaries list the Middle English gobbe meaning lump (gob) as the origin of jobbe. Attempts to link the word to the biblical character Job seem to be folk etymology.
				// #####End single comment
				
				// #####Begin single comment
				li.comment
					.avatar
						img(alt='alt', src=dirPrefix+'assets/img/people/01.jpg')
					.comment-body
						.comment-meta
							ul
								li.author-name
									a.url(href='#', rel='external nofollow') John Doe 
									span -
								li
									| September 16, 2014 at 7:03 am
								
						.comment-content
							p The Online Etymology Dictionary explains that the origin of job is from the obsolete phrase jobbe of work in the sense of piece of work, and most dictionaries list the Middle English gobbe meaning lump (gob) as the origin of jobbe. Attempts to link the word to the biblical character Job seem to be folk etymology.
				// #####End single comment
				
				
			// #####End comments
