li.col-md-3
	h3.nav-title People	
	ul.nav-ul
		li
			a(href=dirPrefix+"academia/people/list-1.html") Grid #1 - 4col
		li
			a(href=dirPrefix+"academia/people/list-2.html") Grid #1 - 3col
		li
			a(href=dirPrefix+"academia/people/list-3.html") Grid #2 - 3col
		li
			a(href=dirPrefix+"academia/people/list-4.html") Grid #2 - 2col
		li
			a(href=dirPrefix+"academia/people/list-5.html") List left sidebar
		li
			a(href=dirPrefix+"academia/people/list-6.html") List right sidebar
		li
			a(href=dirPrefix+"academia/people/list-7.html") List Minimal
		li
			a(href=dirPrefix+"academia/people/single-1.html") Special Person
		li
			a(href=dirPrefix+"academia/people/single-2.html") Oridinary Person

li.col-md-3
	h3.nav-title Publications
	ul.nav-ul
		li
			a(href=dirPrefix+"academia/publications/pub-series-1.html") Publication Series
		li
			a(href=dirPrefix+"academia/publications/pub-list-1.html") List with Icons
		li
			a(href=dirPrefix+"academia/publications/pub-list-2.html") List with Thumbs
		li
			a(href=dirPrefix+"academia/publications/pub-list-3.html") List only filters
		li
			a(href=dirPrefix+"academia/publications/pub-list-4.html") List with Sidebar
		li
			a(href=dirPrefix+"academia/publications/pub-list-5.html") Onepage Timeline
		li
			a(href=dirPrefix+"academia/publications/pub-single.html") Single Page

li.col-md-3
	h3.nav-title Events
	ul.nav-ul
		li
			a(href=dirPrefix+"academia/events/events-list-1.html") List - table
		li
			a(href=dirPrefix+"academia/events/events-list-2.html") List - grid 1
		li
			a(href=dirPrefix+"academia/events/events-list-3.html") List - grid 2
		li
			a(href=dirPrefix+"academia/events/events-single-1.html") General single Page
		li
			a(href=dirPrefix+"academia/events/events-single-2.html") Seminar Page

li.col-md-3
	h3.nav-title Vacancies
	ul.nav-ul
		li
			a(href=dirPrefix+"academia/vacancies/vac-list-1.html") List - Main
		li
			a(href=dirPrefix+"academia/vacancies/vac-list-2.html") List - right sidebar
		li
			a(href=dirPrefix+"academia/vacancies/vac-list-3.html") List - left sidebar
		li
			a(href=dirPrefix+"academia/vacancies/vac-single-1.html") Single page