li.col-md-6

	h3.nav-title Homepages
	.row
		.col-md-6
			ul.nav-ul
				li
					a(href=dirPrefix+"index.html") Home #1 - Main Home
				li
					a(href=dirPrefix+"homepages/home-8.html") Home #2 - Book Landing
				li
					a(href=dirPrefix+"homepages/home-9.html") Home #3 - E-learning
				li
					a(href=dirPrefix+"homepages/home-6.html") Home #4 - Projects
				li
					a(href=dirPrefix+"homepages/home-7.html") Home #5 - Projects
				
		.col-md-6
			ul.nav-ul
				li
					a(href=dirPrefix+"homepages/home-5.html") Home #6 - Labratoary
				li
					a(href=dirPrefix+"homepages/home-1.html") Home #7 - Agency
				li
					a(href=dirPrefix+"homepages/home-3.html") Home #8 - Groups
				li
					a(href=dirPrefix+"homepages/home-2.html") Home #9 - Department
				li
					a(href=dirPrefix+"homepages/home-4.html") Home #10 - Institution

li.col-md-3
	h3.nav-title Demos
	ul.nav-ul
		li
			a(href="../"+dirPrefix+"demo6/index.html") 
				i.oli.oli-lightbulb
				|Conference / Seminar
		li
			a(href="../"+dirPrefix+"demo3/index.html") 
				i.oli.oli-strategy
				|Professor Website
		li
			a(href="../"+dirPrefix+"demo4/index.html") 
				i.oli.oli-globe
				|Academic Event
		li
			a(href="../"+dirPrefix+"demo5/index.html") 
				i.oli.oli-beaker
				|Research Center
		li
			a(href="../"+dirPrefix+"demo2/index.html") 
				i.oli.oli-profile-male
				|Senior Academic
		li
			a(href="../"+dirPrefix+"demo1/index.html") 
				i.oli.oli-profile-female
				|Phd Candidate

li.col-md-3
	h3.nav-title Featured Pages
	ul.nav-ul
		li
			a(href=dirPrefix+"academia/publications/pub-list-5.html") Publications Directory
		li
			a(href=dirPrefix+"academia/people/list-2.html") Staff Directory
		li
			a(href=dirPrefix+"courses/course-grid.html") Course Directory
		li
			a(href=dirPrefix+"academia/events/events-list-1.html") Event Directory
		li
			a(href=dirPrefix+"academia/events/events-single-2.html") Seminar Page
		li
			a(href=dirPrefix+"academia/people/single-1.html") Dean Profile

	