li.col-md-3
	h3.nav-title Grid List	
	ul.nav-ul
		li
			a(href=dirPrefix+"portfolio/portfolio-grid-1.html") 1 Column grid  
		li
			a(href=dirPrefix+"portfolio/portfolio-grid-2.html") 2 Column grid
		li
			a(href=dirPrefix+"portfolio/portfolio-grid-3.html") 3 Column grid
		li
			a(href=dirPrefix+"portfolio/portfolio-grid-4.html") 4 Column grid
		li
			a(href=dirPrefix+"portfolio/portfolio-grid-fullwidth.html") Fullwidth grid
		li
			a(href=dirPrefix+"portfolio/portfolio-grid-gutter.html") Grid With gutter 

li.col-md-3
	h3.nav-title Mix Grid List
	ul.nav-ul
		li
			a(href=dirPrefix+"portfolio/portfolio-mix-2.html") 2 Column mix
		li
			a(href=dirPrefix+"portfolio/portfolio-mix-3.html") 3 Column mix
		li
			a(href=dirPrefix+"portfolio/portfolio-mix-4.html") 4 Column mix
		li
			a(href=dirPrefix+"portfolio/portfolio-mix-5.html") 5 Column mix
		li
			a(href=dirPrefix+"portfolio/portfolio-mix-fullwidth.html") Fullwidth mix

li.col-md-3
	h3.nav-title Masonry List
	ul.nav-ul
		li
			a(href=dirPrefix+"portfolio/portfolio-masonry-2.html") 2 Column masonry
		li
			a(href=dirPrefix+"portfolio/portfolio-masonry-3.html") 3 Column masonry
		li
			a(href=dirPrefix+"portfolio/portfolio-masonry-4.html") 4 Column masonry
		li
			a(href=dirPrefix+"portfolio/portfolio-masonry-5.html") 5 Column masonry
		li
			a(href=dirPrefix+"portfolio/portfolio-masonry-fullwidth.html") Fullwidth masonry

li.col-md-3
	h3.nav-title Single Project
	ul.nav-ul
		li
			a(href=dirPrefix+"portfolio/portfolio-single-slider.html") Single with slider
		li
			a(href=dirPrefix+"portfolio/portfolio-single-revslider.html") Single revolution slider
		li
			a(href=dirPrefix+"portfolio/portfolio-single-gallery.html") Single with gallery
		li
			a(href=dirPrefix+"portfolio/portfolio-single-simple.html") Single simple