li.col-md-3
	//- h3.nav-title Shortcodes 1
	ul.nav-ul
		li
			a(href=dirPrefix+"pages/shortcodes/typography.html") Headings
		li
			a(href=dirPrefix+"pages/shortcodes/buttons.html") Buttons
		li
			a(href=dirPrefix+"pages/shortcodes/dropcaps.html") Dropcaps
		li
			a(href=dirPrefix+"pages/shortcodes/listyles.html") lists Styles
		li
			a(href=dirPrefix+"pages/shortcodes/all-icons.html") All Icons
		li
			a(href=dirPrefix+"pages/shortcodes/social-icons.html") Social Icons
		li
			a(href=dirPrefix+"pages/shortcodes/social-share.html") Social Share
		li
			a(href=dirPrefix+"pages/shortcodes/quote.html") quote
		li
			a(href=dirPrefix+"pages/shortcodes/timeline.html") Timeline
		li
			a(href=dirPrefix+"pages/shortcodes/people-carousel.html") People Carousel
li.col-md-3
	//- h3.nav-title Shortcodes 2
	ul.nav-ul
		li
			a(href=dirPrefix+"pages/shortcodes/images.html") Image Hovers
		li
			a(href=dirPrefix+"pages/shortcodes/videos.html") Videos
		li
			a(href=dirPrefix+"pages/shortcodes/charts.html") Charts
		li
			a(href=dirPrefix+"pages/shortcodes/columns.html") Columns
		li
			a(href=dirPrefix+"pages/shortcodes/tables.html") Tables
		li
			a(href=dirPrefix+"pages/shortcodes/modals.html") Modals
		li
			a(href=dirPrefix+"pages/shortcodes/grid-list.html") Special Grid Elements
		li
			a(href=dirPrefix+"pages/shortcodes/parallax-sections.html") Parallax Backgrounds
		li
			a(href=dirPrefix+"pages/shortcodes/animate.html") Scroll Animations
		li
			a(href=dirPrefix+"pages/shortcodes/gallery.html") Gallery

li.col-md-3
	//- h3.nav-title Shortcodes 3
	ul.nav-ul
		li
			a(href=dirPrefix+"pages/shortcodes/icon-box.html") IconBoxes
		li
			a(href=dirPrefix+"pages/shortcodes/numbers.html") Numbers
		li
			a(href=dirPrefix+"pages/shortcodes/callouts.html") Call to action
		li
			a(href=dirPrefix+"pages/shortcodes/testimonials.html") Testimonials
		li
			a(href=dirPrefix+"pages/shortcodes/partners.html") Partners
		li
			a(href=dirPrefix+"pages/shortcodes/signup-forms.html") Newsletter Forms
		li
			a(href=dirPrefix+"pages/shortcodes/lightbox.html") Lightbox
		li
			a(href=dirPrefix+"pages/shortcodes/pricing-tables.html") Price Tables
		li
			a(href=dirPrefix+"pages/shortcodes/agenda.html") Agenta (Schedule)
		

li.col-md-3
	//- h3.nav-title Shortcodes 4
	ul.nav-ul
		li
			a(href=dirPrefix+"pages/shortcodes/side-navigations.html") Sidebar Menus
		li
			a(href=dirPrefix+"pages/shortcodes/accordions.html") Accordions & Toggle
		li
			a(href=dirPrefix+"pages/shortcodes/tabs.html") Tabs
		li
			a(href=dirPrefix+"pages/shortcodes/time-tab.html") Time Tab
		li
			a(href=dirPrefix+"pages/shortcodes/progress-bars.html") Progress bars
		li
			a(href=dirPrefix+"pages/shortcodes/notifications.html") Notifications
		li
			a(href=dirPrefix+"pages/shortcodes/sections-with-bg.html") Extendable backgrounds
		li
			a(href=dirPrefix+"pages/shortcodes/form-elements.html") Form elements
		li
			a(href=dirPrefix+"pages/shortcodes/embeded-video.html") Embeded Video (media)
