#rev_slider_7_1_wrapper.rev_slider_wrapper.fullwidthbanner-container
  // START REVOLUTION SLIDER 5.2.4 fullwidth mode
  #rev_slider_7_1.rev_slider.fullwidthabanner
    ul
      // SLIDE
      li(
        data-index='rs-15', 
        data-transition='fade', 
        data-slotamount='default', 
        data-hideafterloop='0', 
        data-hideslideonmobile='off', 
        data-easein='default', 
        data-easeout='default', 
        data-masterspeed='300', 
        data-delay='11320', 
        data-rotate='0', 
        data-saveperformance='off', 
        data-title='Slide', 
        data-param1='', 
        data-param2='', 
        data-param3='', 
        data-param4='', 
        data-param5='', 
        data-param6='', 
        data-param7='', 
        data-param8='', 
        data-param9='', 
        data-param10='', 
        data-description=''
        )
        // MAIN IMAGE
        img.rev-slidebg(
          src='../assets/img/sliders/bg-7.jpg',
          alt='', 
          data-bgposition='center center', 
          data-kenburns='off', 
          data-duration='10000', 
          data-ease='Linear.easeNone', 
          data-scalestart='120', 
          data-scaleend='100', 
          data-rotatestart='0', 
          data-rotateend='0', 
          data-offsetstart='0 0', 
          data-offsetend='0 0', 
          data-bgparallax='9', 
          data-no-retina=''
          )
        // LAYERS
        // LAYER NR. 1
        #slide-15-layer-1.tp-caption.tp-resizeme(
          data-x="['right','right','right','center']", 
          data-hoffset="['10','10','10','0']", 
          data-y="['bottom','bottom','bottom','bottom']", 
          data-voffset="['-20','-20','-20','-20']", 
          data-width='none', 
          data-height='none', 
          data-whitespace='nowrap', 
          data-transform_idle='o:1;', 
          data-transform_in='y:50px;opacity:0;s:1360;e:Power4.easeInOut;', 
          data-transform_out='opacity:0;s:300;', 
          data-start='2230', 
          data-responsive_offset='on', style='z-index: 5;'
          )
          img(src='../assets/img/sliders/book.png', alt='', 
            data-ww="['442','442','293','243']", 
            data-hh="['604','604','441','321']", 
            data-no-retina='')
        // LAYER NR. 2
        h4.head.tp-caption.tp-resizeme.rs-parallaxlevel-1(
          data-x="['left','left','left','center']", 
          data-hoffset="['10','10','10','0']", 
          data-y="['middle','middle','middle','middle']", 
          data-voffset="['-41','-41','-41','-100']", 
          data-fontsize="['17','17','14','17']", 
          data-width='none', 
          data-height='none', 
          data-whitespace='nowrap', 
          data-transform_idle='o:1;', 
          data-transform_in='y:[100%];z:0;rZ:-35deg;sX:1;sY:1;skX:0;skY:0;s:540;e:Power4.easeInOut;', 
          data-transform_out='opacity:0;s:300;', 
          data-mask_in='x:0px;y:0px;s:inherit;e:inherit;', 
          data-start='460', 
          data-splitin='chars', 
          data-splitout='none', 
          data-responsive_offset='on', 
          data-elementdelay='0.05'
          ) WELCOME TO. 
        // LAYER NR. 3
        h1.title.tp-caption.tp-resizeme.rs-parallaxlevel-1(
          data-x="['left','left','left','center']", 
          data-hoffset="['10','10','10','0']", 
          data-y="['middle','middle','middle','middle']", 
          data-voffset="['0','0','-14','-70']", 
          data-fontsize="['38','26','24','32']", 
          data-lineheight="['40','40','34','32']", 
          data-width='none', 
          data-height='none', 
          data-whitespace='nowrap', 
          data-transform_idle='o:1;', 
          data-transform_in='z:0;rX:0deg;rY:0;rZ:0;sX:2;sY:2;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;', 
          data-transform_out='opacity:0;s:300;', 
          data-mask_in='x:0px;y:0px;', 
          data-start='930', 
          data-splitin='none', 
          data-splitout='none', 
          data-responsive_offset='on'
          ) The Most Cited Book of 2016 
        // LAYER NR. 4
        a.btn.btn-medium.btn-skin-blue.btn-circle.tp-caption.rs-parallaxlevel-1(
          href="#",
          data-x="['left','left','left','left']", 
          data-hoffset="['10','10','3','3']", 
          data-y="['middle','middle','middle','middle']", 
          data-voffset="['100','100','77','77']", 
          data-width='none', 
          data-height='none', 
          data-whitespace='nowrap', 
          data-visibility="['on','on','on','off']", 
          data-transform_idle='o:1;', 
          data-transform_hover='o:1;rX:0;rY:0;rZ:0;z:0;s:0;e:Linear.easeNone;', 
          data-style_hover='c:rgba(255, 255, 255, 1.00);bg:rgba(51, 51, 51, 1.00);', 
          data-transform_in='y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:970;e:Power4.easeInOut;', 
          data-transform_out='opacity:0;s:300;', 
          data-start='1310', 
          data-splitin='none', 
          data-splitout='none', 
          data-responsive_offset='on', 
                data-responsive='off'
          ) TABLE OF CONTENTS 
        // LAYER NR. 5
        a.btn.btn-medium.btn-skin-purple.btn-circle.tp-caption.rs-parallaxlevel-1(
          data-x="['left','left','left','left']", 
          data-hoffset="['230','241','7','7']", 
          data-y="['middle','middle','middle','middle']", 
          data-voffset="['100','101','137','137']", 
          data-width='none', 
          data-height='none', 
          data-whitespace='nowrap', 
          data-visibility="['on','on','on','off']", 
          data-transform_idle='o:1;', 
          data-transform_hover='o:1;rX:0;rY:0;rZ:0;z:0;s:0;e:Linear.easeNone;', 
          data-style_hover='c:rgba(255, 255, 255, 1.00);bg:rgba(51, 51, 51, 1.00);', 
          data-transform_in='x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;s:1500;e:Power3.easeOut;', 
          data-transform_out='opacity:0;s:300;', 
          data-mask_in='x:[100%];y:0;s:inherit;e:inherit;', 
          data-start='2150', 
          data-splitin='none', 
          data-splitout='none', 
          data-responsive_offset='on', 
          data-responsive='off'
          ) PURCHASE NOW 
    
// END REVOLUTION SLIDER