#rev_slider_204_1_wrapper.rev_slider_wrapper.fullwidthbanner-container
  #rev_slider_204_1.rev_slider.fullwidthabanner
    ul
      // SLIDE
      li(
        data-index='rs-680', 
        data-transition='zoomout', 
        data-slotamount='default', 
        data-easein='Power4.easeInOut', 
        data-easeout='Power4.easeInOut', 
        data-masterspeed='2000', 
        data-thumb='../../main/assets/img/portfolio/slider/full_1-150x100.jpg', 
        data-rotate='0', 
        data-fstransition='fade', 
        data-fsmasterspeed='1500', 
        data-fsslotamount='7', 
        data-saveperformance='off', 
        data-title='Intro', 
        data-description=''
        )
        // MAIN IMAGE
        img.rev-slidebg(
          src='../../main/assets/img/portfolio/slider/full_1.jpg', 
          alt='', 
          data-bgposition='center center', 
          data-bgfit='cover', 
          data-bgrepeat='no-repeat', 
          data-bgparallax='10', 
          data-no-retina=''
          )
        // LAYERS
        // LAYER NR. 1
        #slide-680-layer-1.tp-caption.NotGeneric-Title.tp-resizeme(
          data-x="['center','center','center','center']", 
          data-hoffset="['0','0','0','0']", 
          data-y="['middle','middle','middle','middle']", 
          data-voffset="['-170','-140','-110','-90']", 
          data-fontsize="['70','70','70','45']", 
          data-lineheight="['70','70','70','50']", 
          data-width='none', 
          data-height='none', 
          data-whitespace='nowrap', 
          data-transform_idle='o:1;', 
          data-transform_in='x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;', 
          data-transform_out='y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;', 
          data-mask_in='x:0px;y:0px;', 
          data-mask_out='x:inherit;y:inherit;', 
          data-start='1000', 
          data-splitin='chars', 
          data-splitout='none', 
          data-responsive_offset='on', 
          data-elementdelay='0.05'
          )
          | SMALL BUT OH MY ...
      // SLIDE
      li(
        data-index='rs-681', 
        data-transition='fadetotopfadefrombottom', 
        data-slotamount='default', 
        data-easein='Power3.easeInOut', 
        data-easeout='Power3.easeInOut', 
        data-masterspeed='1500', 
        data-thumb='../../main/assets/img/portfolio/slider/full_4-150x100.jpg', 
        data-rotate='0', 
        data-saveperformance='off', 
        data-title='Parallax', 
        data-description=''
        )
        // MAIN IMAGE
        img.rev-slidebg(
          src='../../main/assets/img/portfolio/slider/full_4.jpg', 
          alt='', 
          data-bgposition='center center', 
          data-bgfit='cover', 
          data-bgrepeat='no-repeat', 
          data-bgparallax='10', 
          data-no-retina=''
          )
        // LAYERS
        // LAYER NR. 1
        #slide-681-layer-1.tp-caption.NotGeneric-Title.tp-resizeme.rs-parallaxlevel-3(
          data-x="['center','center','center','center']", 
          data-hoffset="['0','0','0','0']", 
          data-y="['middle','middle','middle','middle']", 
          data-voffset="['0','0','0','0']", 
          data-fontsize="['70','70','70','45']", 
          data-lineheight="['70','70','70','50']", 
          data-width='none', 
          data-height='none', 
          data-whitespace='nowrap', 
          data-transform_idle='o:1;', 
          data-transform_in='y:[100%];z:0;rZ:-35deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;', 
          data-transform_out='y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;', 
          data-mask_in='x:0px;y:0px;s:inherit;e:inherit;', 
          data-mask_out='x:inherit;y:inherit;s:inherit;e:inherit;', 
          data-start='1000', 
          data-splitin='chars', 
          data-splitout='none', 
          data-responsive_offset='on', 
          data-elementdelay='0.05',
          )
          | MOUSE PARALLAX
        // LAYER NR. 2
        #slide-681-layer-10.tp-caption.tp-resizeme.rs-parallaxlevel-8(
          data-x="['left','left','left','left']", 
          data-hoffset="['680','680','680','680']", 
          data-y="['top','top','top','top']", 
          data-voffset="['632','632','632','632']", 
          data-width='none', 
          data-height='none', 
          data-whitespace='nowrap', 
          data-transform_idle='o:1;', 
          data-transform_in='opacity:0;s:1000;e:Power2.easeInOut;', 
          data-transform_out='opacity:0;s:1000;s:1000;', 
          data-start='2000', 
          data-responsive_offset='on', 
          )
          .rs-looped.rs-pendulum(
            data-easing='linearEaseNone', 
            data-startdeg='-20', 
            data-enddeg='360', 
            data-speed='35', 
            data-origin='50% 50%'
            )
            img(
              src='../../main/assets/img/portfolio/slider/blurflake4.png', 
              alt='', width='240', height='240', 
              data-ww="['240px','240px','240px','240px']", 
              data-hh="['240px','240px','240px','240px']", 
              data-no-retina=''
              )
        // LAYER NR. 3
        #slide-681-layer-11.tp-caption.tp-resizeme.rs-parallaxlevel-7(
          data-x="['left','left','left','left']", 
          data-hoffset="['948','948','948','948']", 
          data-y="['top','top','top','top']", 
          data-voffset="['487','487','487','487']", 
          data-width='none', 
          data-height='none', 
          data-whitespace='nowrap', 
          data-transform_idle='o:1;', 
          data-transform_in='opacity:0;s:1000;e:Power2.easeInOut;', 
          data-transform_out='opacity:0;s:1000;s:1000;', 
          data-start='2000', 
          data-responsive_offset='on',
          )
          .rs-looped.rs-wave(
            data-speed='20', 
            data-angle='0', 
            data-radius='50px', 
            data-origin='50% 50%'
            )
            img(
              src='../../main/assets/img/portfolio/slider/blurflake3.png', 
              alt='', width='170', height='170', 
              data-ww="['170px','170px','170px','170px']", 
              data-hh="['170px','170px','170px','170px']", 
              data-no-retina=''
              )
        // LAYER NR. 4
        #slide-681-layer-12.tp-caption.tp-resizeme.rs-parallaxlevel-4(
          data-x="['left','left','left','left']", 
          data-hoffset="['719','719','719','719']", 
          data-y="['top','top','top','top']", 
          data-voffset="['200','200','200','200']", 
          data-width='none', 
          data-height='none', 
          data-whitespace='nowrap', 
          data-transform_idle='o:1;', 
          data-transform_in='opacity:0;s:1000;e:Power2.easeInOut;', 
          data-transform_out='opacity:0;s:1000;s:1000;', 
          data-start='2000', 
          data-responsive_offset='on', 
          )
          .rs-looped.rs-rotate(
            data-easing='Power2.easeInOut', 
            data-startdeg='-20', 
            data-enddeg='360', 
            data-speed='20', 
            data-origin='50% 50%'
            )
            img(
              src='../../main/assets/img/portfolio/slider/blurflake2.png', 
              alt='', width='50', height='51', 
              data-ww="['50px','50px','50px','50px']", 
              data-hh="['51px','51px','51px','51px']", 
              data-no-retina=''
              )
        // LAYER NR. 5
        #slide-681-layer-13.tp-caption.tp-resizeme.rs-parallaxlevel-6(
          data-x="['left','left','left','left']", 
          data-hoffset="['187','187','187','187']", 
          data-y="['top','top','top','top']", 
          data-voffset="['216','216','216','216']", 
          data-width='none', 
          data-height='none', 
          data-whitespace='nowrap', 
          data-transform_idle='o:1;', 
          data-transform_in='opacity:0;s:1000;e:Power2.easeInOut;', 
          data-transform_out='opacity:0;s:1000;s:1000;', 
          data-start='2000', 
          data-responsive_offset='on', 
          )
          .rs-looped.rs-wave(
            data-speed='4', 
            data-angle='0', 
            data-radius='10', 
            data-origin='50% 50%'
            )
            img(
              src='../../main/assets/img/portfolio/slider/blurflake1.png', 
              alt='', width='120', height='120', 
              data-ww="['120px','120px','120px','120px']", 
              data-hh="['120px','120px','120px','120px']", 
              data-no-retina=''
              )
      // SLIDE
      li(
        data-index='rs-682', 
        data-transition='zoomin', 
        data-slotamount='7', 
        data-easein='Power4.easeInOut', 
        data-easeout='Power4.easeInOut', 
        data-masterspeed='2000', 
        data-thumb='../../main/assets/img/portfolio/slider/full_3-150x100.jpg', 
        data-rotate='0', 
        data-saveperformance='off', 
        data-title='Ken Burns', 
        data-description=''
        )
        // MAIN IMAGE
        img.rev-slidebg(
          src='../../main/assets/img/portfolio/slider/full_3.jpg', 
          alt='', 
          data-bgposition='center center', 
          data-kenburns='on', 
          data-duration='30000', 
          data-ease='Linear.easeNone', 
          data-scalestart='100', 
          data-scaleend='110', 
          data-rotatestart='0', 
          data-rotateend='0', 
          data-offsetstart='-500 0', 
          data-offsetend='500 0', 
          data-bgparallax='10', 
          data-no-retina=''
          )
        // LAYERS
        // LAYER NR. 1
        #slide-682-layer-1.tp-caption.NotGeneric-Title.tp-resizeme(
          data-x="['center','center','center','center']", 
          data-hoffset="['0','0','0','0']", 
          data-y="['middle','middle','middle','middle']", 
          data-voffset="['0','0','0','0']", 
          data-fontsize="['70','70','70','45']", 
          data-lineheight="['70','70','70','50']", 
          data-width='none', 
          data-height='none', 
          data-whitespace='nowrap', 
          data-transform_idle='o:1;', 
          data-transform_in='y:[-100%];z:0;rZ:35deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;', 
          data-transform_out='y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;', 
          data-mask_in='x:0px;y:0px;s:inherit;e:inherit;', 
          data-mask_out='x:inherit;y:inherit;s:inherit;e:inherit;', 
          data-start='1000', 
          data-splitin='chars', 
          data-splitout='none', 
          data-responsive_offset='on', 
          data-elementdelay='0.05', 
          )
          | KEN BURNS
      // SLIDE
      li(
        data-index='rs-683', 
        data-transition='zoomout', 
        data-slotamount='default', 
        data-easein='Power4.easeInOut', 
        data-easeout='Power4.easeInOut', 
        data-masterspeed='2000', 
        data-thumb='../../main/assets/img/portfolio/slider/girls-150x100.jpg', 
        data-rotate='0', 
        data-saveperformance='off', 
        data-title='HTML5 Video', 
        data-description=''
        )
        // MAIN IMAGE
        img.rev-slidebg(
          src='../../main/assets/img/portfolio/slider/girls.jpg', 
          alt='', 
          data-bgposition='center center', 
          data-bgfit='cover', 
          data-bgrepeat='no-repeat', 
          data-bgparallax='10', 
          data-no-retina=''
          )
        // LAYERS
        // BACKGROUND VIDEO LAYER
        .rs-background-video-layer(
          data-forcerewind='on', 
          data-volume='mute', 
          data-videowidth='100%', 
          data-videoheight='100%', 
          data-videomp4='../../main/assets/img/portfolio/slider/girls.mp4', 
          data-videopreload='preload', 
          data-videoloop='none', 
          data-forcecover='1', 
          data-aspectratio='16:9', 
          data-autoplay='true', 
          data-autoplayonlyfirsttime='false', 
          data-nextslideatend='true'
          )
        // LAYER NR. 1
        #slide-683-layer-10.tp-caption.tp-shape.tp-shapewrapper(
          data-x="['center','center','center','center']", 
          data-hoffset="['0','0','0','0']", 
          data-y="['middle','middle','middle','middle']", 
          data-voffset="['0','0','0','0']", 
          data-width='full', 
          data-height='full', 
          data-whitespace='nowrap', 
          data-transform_idle='o:1;', 
          data-transform_in='opacity:0;s:2000;e:Power3.easeInOut;', 
          data-transform_out='opacity:0;s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;', 
          data-start='2000', 
          data-basealign='slide', 
          data-responsive_offset='on', 
          data-responsive='off',
          )
        // LAYER NR. 2
        #slide-683-layer-1.tp-caption.NotGeneric-Title.tp-resizeme(
          data-x="['center','center','center','center']", 
          data-hoffset="['0','0','0','0']", 
          data-y="['middle','middle','middle','middle']", 
          data-voffset="['0','0','0','0']", 
          data-fontsize="['70','70','70','45']", 
          data-lineheight="['70','70','70','50']", 
          data-width='none', 
          data-height='none', 
          data-whitespace='nowrap', 
          data-transform_idle='o:1;', 
          data-transform_in='z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;', 
          data-transform_out='y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;', 
          data-mask_out='x:inherit;y:inherit;s:inherit;e:inherit;', 
          data-start='1000', 
          data-splitin='chars', 
          data-splitout='none', 
          data-responsive_offset='on', 
          data-elementdelay='0.05', 
          )
          | HTML5 VIDEO
      // SLIDE
      li(
        data-index='rs-684', 
        data-transition='zoomin', 
        data-slotamount='7', 
        data-easein='Power4.easeInOut', 
        data-easeout='Power4.easeInOut', 
        data-masterspeed='2000', 
        data-thumb='../../main/assets/img/portfolio/slider/full_5-150x100.jpg', 
        data-rotate='0', 
        data-saveperformance='off', 
        data-title='Love it?', 
        data-description=''
        )
        // MAIN IMAGE
        img.rev-slidebg(
          src='../../main/assets/img/portfolio/slider/full_5.jpg', 
          alt='', 
          data-bgposition='center center', 
          data-kenburns='on', 
          data-duration='10000', 
          data-ease='Linear.easeNone', 
          data-scalestart='100', 
          data-scaleend='120', 
          data-rotatestart='0', 
          data-rotateend='0', 
          data-offsetstart='0 -500', 
          data-offsetend='0 500', 
          data-bgparallax='10', 
          data-no-retina=''
          )
        // LAYERS
        // LAYER NR. 1
        #slide-684-layer-1.tp-caption.NotGeneric-Title.tp-resizeme(
          data-x="['center','center','center','center']", 
          data-hoffset="['0','0','0','0']", 
          data-y="['middle','middle','middle','middle']", 
          data-voffset="['0','0','0','0']", 
          data-fontsize="['70','70','70','45']", 
          data-lineheight="['70','70','70','50']", 
          data-width='none', 
          data-height='none', 
          data-whitespace='nowrap', 
          data-transform_idle='o:1;', 
          data-transform_in='x:[-105%];z:0;rX:0deg;rY:0deg;rZ:-90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;', 
          data-transform_out='y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;', 
          data-mask_in='x:0px;y:0px;s:inherit;e:inherit;', 
          data-mask_out='x:inherit;y:inherit;s:inherit;e:inherit;', 
          data-start='1000', 
          data-splitin='chars', 
          data-splitout='none', 
          data-responsive_offset='on', 
          data-elementdelay='0.1',
          )
          | LOVE IT?
    .tp-static-layers
      // LAYER NR. 1
      #slide-101-layer-1.tp-caption.FullScreen-Toggle.tp-static-layer(
        data-x="['right','right','right','right']", 
        data-hoffset="['0','0','0','0']", 
        data-y="['top','top','top','top']", 
        data-voffset="['0','0','0','0']", 
        data-width='none', 
        data-height='none', 
        data-whitespace='nowrap', 
        data-transform_idle='o:1;', 
        data-transform_hover='o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power3.easeOut;', 
        data-style_hover='c:rgba(255, 255, 255, 1.00);bg:rgba(0, 0, 0, 1.00);cursor:pointer;', 
        data-transform_in='opacity:0;s:300;e:Power2.easeInOut;', 
        data-transform_out='opacity:0;s:1;s:1;', 
        data-start='500', 
        data-splitin='none', 
        data-splitout='none', 
        data-actions='[{"event":"click","action":"gofullscreen","delay":""},{"event":"click","action":"stoplayer","layer":"slide-101-layer-1","delay":""},{"event":"click","action":"startlayer","layer":"slide-101-layer-2","delay":""}]', 
        data-basealign='slide', 
        data-responsive_offset='off', 
        data-responsive='off', 
        data-startslide='0', 
        data-endslide='4', 
        data-end='bytrigger', 
        data-lasttriggerstate='keep', 
        )
        i.fa.fa-arrows
      // LAYER NR. 2
      #slide-101-layer-2.tp-caption.FullScreen-Toggle.tp-static-layer(
        data-x="['right','right','right','right']", 
        data-hoffset="['0','0','0','0']", 
        data-y="['top','top','top','top']", 
        data-voffset="['0','0','0','0']", 
        data-width='none', 
        data-height='none', 
        data-whitespace='nowrap', 
        data-transform_idle='o:1;', 
        data-transform_hover='o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power3.easeOut;', 
        data-style_hover='c:rgba(255, 255, 255, 1.00);bg:rgba(0, 0, 0, 1.00);cursor:pointer;', 
        data-transform_in='opacity:0;s:300;e:Power2.easeInOut;', 
        data-transform_out='opacity:0;s:1;s:1;', 
        data-start='bytrigger', 
        data-splitin='none', 
        data-splitout='none', 
        data-actions='[{"event":"click","action":"exitfullscreen","delay":""},{"event":"click","action":"stoplayer","layer":"slide-101-layer-2","delay":""},{"event":"click","action":"startlayer","layer":"slide-101-layer-1","delay":""}]', 
        data-basealign='slide', 
        data-responsive_offset='off', 
        data-responsive='off', 
        data-startslide='0', 
        data-endslide='4', 
        data-end='bytrigger', 
        data-lasttriggerstate='reset', 
        )
        i.fa.fa-times
    .tp-bannertimer
