#rev_slider_2_1_wrapper.rev_slider_wrapper.fullwidthbanner-container()
	
	#rev_slider_2_1.rev_slider.ol-d5-slider.fullwidthabanner()
		ul
			li(data-index='rs-5',
				data-transition='parallaxhorizontal',
				data-fstransition='fade',
				data-fsmasterspeed='1500',
				data-fsslotamount='7'
				)

				// MAIN IMAGE
				img.rev-slidebg(
					data-bgparallax="12",
					src='assets/img/slider/dummy.png',
					alt='',
					data-lazyload='assets/img/slider/01.jpg',
					data-bgposition='center center',
					data-bgfit='cover',
					data-bgrepeat='no-repeat',
					data-no-retina=''
					)
			// SLIDE
			li(data-index='rs-6',
				data-transition='parallaxhorizontal'
				)
				
				// MAIN IMAGE
				img.rev-slidebg(
					data-bgparallax="12",
					src='assets/img/slider/dummy.png',
					alt='',
					data-lazyload='assets/img/slider/02.jpg',
					data-bgposition='center center',
					data-bgfit='cover',
					data-bgrepeat='no-repeat',
					data-no-retina=''
					)
			// SLIDE
			li(data-index='rs-7',
				data-transition='parallaxhorizontal'
				)
				// MAIN IMAGE
				img.rev-slidebg(
					data-bgparallax="12",
					src='assets/img/slider/dummy.png',
					alt='',
					data-lazyload='assets/img/slider/03.jpg',
					data-bgposition='center center',
					data-bgfit='cover',
					data-bgrepeat='no-repeat',
					data-no-retina=''
					)
				// LAYERS
		.tp-static-layers
			// LAYER NR. 1
			h1.tp-caption.ol-title.tp-resizeme.tp-static-layer(
				data-x="['left','left','left','center']",
				data-hoffset="['50','50','50','0']",
				data-y="['top','top','top','middle']",
				data-voffset="['239','148','175','-40']",
				data-transform_in='opacity:0;s:660;e:Power4.easeInOut;',
				data-transform_out='opacity:0;s:300;',
				data-start='500',
				data-splitin='chars',
				data-splitout='none',
				data-responsive_offset='on',
				data-startslide='0',
				data-endslide='2',
				data-elementdelay='0.05',
				data-end='9000',
				style='z-index: 5;')
				| CHAOS
			// LAYER NR. 2
			h2.tp-caption.ol-subtitle.tp-resizeme.tp-static-layer(
				data-x="['left','left','left','center']",
				data-hoffset="['50','50','50','0']",
				data-y="['top','top','top','middle']",
				data-voffset="['291','198','230','0']",
				data-transform_in='opacity:0;s:520;e:Power4.easeInOut;',
				data-transform_out='opacity:0;s:210;',
				data-start='800',
				data-splitin='chars',
				data-splitout='none',
				data-responsive_offset='on',
				data-startslide='0',
				data-endslide='2',
				data-elementdelay='0.05',
				style='z-index: 6;')
				| Marine Laboratory
			// LAYER NR. 3
			p.tp-caption.ol-description.tp-resizeme.tp-static-layer(
				data-x="['left','left','left','center']",
				data-hoffset="['50','50','50','-458']",
				data-y="['top','top','top','top']",
				data-voffset="['371','275','300','157']",
				data-width="['473','473','666','437']",
				data-visibility="['on','on','on','off']",
				data-transform_in='opacity:0;s:830;e:Power2.easeInOut;',
				data-transform_out='opacity:0;s:180;;',
				data-start='1090',
				data-startslide='0',
				data-endslide='2')
				| The Chaos Marine Laboratory is a summer field station for marine science research and education. Jointly operated by Florida University and the University of New Hampshire Shoals provides hands-on learning opportunities and laboratory facilities on Appledore Island Isles of Shoals in the Gulf of Maine.
			// LAYER NR. 4
			a.tp-caption.btn.btn-medium.btn-wide.btn-trans.btn-skin-white.btn-circle.ol-btn.tp-static-layer(
				href="#",
				data-x="['left','left','left','center']",
				data-hoffset="['50','50','50','0']",
				data-y="['top','top','top','middle']",
				data-voffset="['532','426','410','110']",
				data-transform_in='opacity:0;s:720;e:Power2.easeOut;',
				data-transform_out='opacity:0;s:2;s:2;',
				data-start='1490',
				data-startslide='0',
				style='z-index: 8;')
				| DISCOVER CHAOS
		.tp-bannertimer.tp-bottom()
// END REVOLUTION SLIDER
