.rev_slider_wrapper.fullscreen-container
	#rev_slider_d6.rev_slider.fullscreenbanner.ol-d6-slider(style='display:none;')
		ul
			// SLIDE
			li(
				data-index='rs-54', 
				data-transition='zoomout', 
				data-slotamount='default', 
				data-hideafterloop='0', 
				data-hideslideonmobile='off', 
				data-easein='Power4.easeInOut', 
				data-easeout='Power4.easeInOut', 
				data-masterspeed='2000', 
				data-delay='8710', 
				data-fstransition='fade', 
				data-fsmasterspeed='1500', 
				data-fsslotamount='7', 
				data-saveperformance='off', 
				)
				// MAIN IMAGE
				img.rev-slidebg(
					src='assets/img/sliders/d6-01.jpg', 
					alt='image', 
					data-bgposition='center center', 
					data-kenburns='on', 
					data-duration='10000', 
					data-ease='Linear.easeNone', 
					data-scalestart='110', 
					data-scaleend='100', 
					data-bgparallax='10', 
					)
				// LAYERS
				// LAYER NR. 1
				h1.title.tp-caption.tp-resizeme(
					data-x="['center','center','center','center']", 
					data-hoffset="['0','0','0','0']", 
					data-y="['middle','middle','middle','middle']", 
					data-voffset="['-40','-50','-50','-6']", 
					data-fontsize="['60','46','45','44']", 
					data-lineheight="['70','46','45','44']", 
					data-transform_idle='o:1;', 
					data-transform_in='y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;', 
					data-transform_out='y:[100%];s:560;e:Power2.easeInOut;s:560;e:Power2.easeInOut;',
					data-mask_in='x:0px;y:0px;', 
					data-mask_out='x:inherit;y:inherit;s:inherit;e:inherit;', 
					data-start='500', 
					data-splitin='none', 
					data-splitout='none', 
					data-responsive_offset='on', 
					data-elementdelay='0.05'
					)
					| Chaotic  Theory
				// LAYER NR. 2
				h3.tp-caption.subtitle.tp-resizeme(
					data-x="['center','center','center','center']", 
					data-hoffset="['0','0','0','0']", 
					data-y="['middle','middle','middle','middle']", 
					data-voffset="['-100','-110','-110','-34']", 
					data-fontsize="['24','20','16','13']", 
					data-lineheight="['24','20','16','13']",
					data-transform_idle='o:1;', 
					data-transform_in='y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;', 
					data-transform_out='y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;', 
					data-mask_in='x:0px;y:[100%];s:inherit;e:inherit;', 
					data-mask_out='x:inherit;y:inherit;s:inherit;e:inherit;', 
					data-start='1500', 
					data-responsive_offset='on'
					)
					| 63th International Conference on
				// LAYER NR. 3
				.tp-caption.ol-icon.tp-resizeme(
					data-x="['center','center','center','center']", 
					data-hoffset="['0','0','0','0']", 
					data-y="['middle','middle','middle','middle']", 
					data-voffset="['-170','-130','-150','-78']", 
					data-transform_idle='o:1;', 
					data-transform_in='y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power4.easeInOut;', 
					data-transform_out='y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;', 
					data-mask_in='x:0px;y:[100%];s:inherit;e:inherit;', 
					data-mask_out='x:inherit;y:inherit;s:inherit;e:inherit;', 
					data-start='2000',  
					data-responsive_offset='on'
					)
					i.oli.oli-physics
				// LAYER NR. 4
				a.tp-caption.btn.btn-medium.btn-circle.btn-wide(
					data-x="['center','center','center','center']", 
					data-hoffset="['0','0','0','0']", 
					data-y="['middle','middle','middle','middle']", 
					data-voffset="['150','135','100','60']", 
					data-transform_idle='o:1;',
					data-transform_in='y:50px;opacity:0;s:1500;e:Power4.easeInOut;', 
					data-transform_out='y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;', 
					data-mask_out='x:inherit;y:inherit;s:inherit;e:inherit;', 
					data-start='2000',
					data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]', 
					data-responsive_offset='on', 
					data-responsive='off'
					)
					| Where?
				// LAYER NR. 5
				.tp-caption.rev-scroll-btn(
					data-x="['center','center','center','center']", 
					data-hoffset="['0','0','0','0']", 
					data-y="['bottom','bottom','bottom','bottom']", 
					data-voffset="['50','50','50','30']", 
					data-width='35', 
					data-height='55', 
					data-whitespace='nowrap', 
					data-visibility="['on','on','on','off']", 
					data-transform_idle='o:1;', 
					data-transform_in='y:50px;opacity:0;s:1500;e:Power3.easeInOut;', 
					data-transform_out='y:50px;opacity:0;s:1000;s:1000;', 
					data-start='2000',
					data-actions='[{"event":"click","action":"scrollbelow","offset":"0px"}]', 
					data-basealign='slide', 
					data-responsive_offset='off', 
					data-responsive='off'
					)
					span
			// SLIDE
			li(
				data-index='rs-48', 
				data-transition='slidingoverlaydown', 
				data-slotamount='default', 
				data-hideafterloop='0', 
				data-hideslideonmobile='off', 
				data-easein='default',
				data-delay='8710',
				data-saveperformance='off',
				)
				// MAIN IMAGE
				img.rev-slidebg(
					src='assets/img/sliders/d6-02.jpg',
					alt='image', 
					data-bgposition='center center', 
					data-bgfit='cover', 
					data-bgrepeat='no-repeat', 
					data-bgparallax='10', 
					)
				// LAYERS
				// LAYER NR. 1
				h1.tp-caption.title.tp-resizeme(
					data-x="['center','center','center','center']", 
					data-hoffset="['0','0','0','0']", 
					data-y="['middle','middle','middle','middle']", 
					data-voffset="['-50','0','0','-6']", 
					data-fontsize="['50','36','30','24']", 
					data-lineheight="['50','36','30','24']",
					data-transform_idle='o:1;', 
					data-transform_in='y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:950;e:Power3.easeInOut;', 
					data-transform_out='y:[100%];s:560;e:Power2.easeInOut;s:560;e:Power2.easeInOut;', 
					data-mask_in='x:0px;y:0px;', 
					data-mask_out='x:inherit;y:inherit;s:inherit;e:inherit;', 
					data-start='670', 
					data-responsive_offset='on'
					)
					| In the Heart of France
				// LAYER NR. 2
				h3.tp-caption.subtitle.tp-resizeme(
					data-x="['center','center','center','center']", 
					data-hoffset="['0','0','0','0']", 
					data-y="['middle','middle','middle','middle']", 
					data-voffset="['-125','-59','-55','-54']", 
					data-fontsize="['16','13','13','13']",
					data-transform_idle='o:1;', 
					data-transform_in='y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1240;e:Power4.easeInOut;', 
					data-transform_out='y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;', 
					data-mask_in='x:0px;y:[100%];', 
					data-mask_out='x:inherit;y:inherit;s:inherit;e:inherit;', 
					data-start='970',
					data-responsive_offset='on'
					)
					| CHAOS2016
				// LAYER NR. 3
				.tp-caption.tp-resizeme(
					data-x="['center','center','center','center']", 
					data-hoffset="['0','0','0','0']", 
					data-y="['middle','middle','middle','middle']", 
					data-voffset="['-160','-87','-80','-78']", 
					data-transform_idle='o:1;', 
					data-transform_in='y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1430;e:Power4.easeInOut;', 
					data-transform_out='y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;', 
					data-mask_out='x:inherit;y:inherit;s:inherit;e:inherit;', 
					data-start='1150',
					data-responsive_offset='on'
					)
					i.oli.oli-physics
				// LAYER NR. 4
				a.tp-caption.btn.btn-medium.btn-circle.btn-wide(
					data-x="['center','center','center','center']", 
					data-hoffset="['0','0','0','0']", 
					data-y="['middle','middle','middle','middle']", 
					data-voffset="['116','105','80','60']", 
					data-transform_idle='o:1;', 
					data-transform_in='y:50px;opacity:0;s:1640;e:Power4.easeInOut;', 
					data-transform_out='y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;', 
					data-mask_out='x:inherit;y:inherit;s:inherit;e:inherit;', 
					data-start='1420',
					data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]', 
					data-responsive_offset='on', 
					data-responsive='off'
					)
					| When?
				// LAYER NR. 5
				.tp-caption.rev-scroll-btn(
					data-x="['center','center','center','center']", 
					data-hoffset="['0','0','0','0']", 
					data-y="['bottom','bottom','bottom','bottom']", 
					data-voffset="['50','50','50','30']", 
					data-width='35', 
					data-height='55', 
					data-whitespace='nowrap', 
					data-visibility="['on','on','on','off']", 
					data-transform_idle='o:1;', 
					data-transform_in='y:50px;opacity:0;s:1870;e:Power3.easeInOut;', 
					data-transform_out='y:50px;opacity:0;s:1000;s:1000;', 
					data-start='1570',
					data-actions='[{"event":"click","action":"scrollbelow","offset":"0px"}]', 
					data-basealign='slide', 
					data-responsive_offset='off', 
					data-responsive='off'
					)
					span
			// SLIDE
			li(
				data-index='rs-56', 
				data-transition='zoomin',
				data-hideafterloop='0', 
				data-hideslideonmobile='off',  
				data-delay='8710',  
				data-saveperformance='off', 
				)
				// MAIN IMAGE
				img.rev-slidebg(
					src='assets/img/sliders/d6-03.jpg', 
					alt='image', 
					data-bgposition='center center', 
					data-kenburns='on', 
					data-duration='10000', 
					data-ease='Linear.easeNone', 
					data-scalestart='100', 
					data-scaleend='115',
					data-bgparallax='10', 
					)
				// LAYERS
				// LAYER NR. 1
				h1.tp-caption.title.tp-resizeme(
					data-x="['center','center','center','center']", 
					data-hoffset="['0','0','0','0']", 
					data-y="['middle','middle','middle','middle']", 
					data-voffset="['-50','0','0','-6']", 
					data-fontsize="['50','36','30','24']", 
					data-lineheight="['50','36','30','24']", 
					data-transform_idle='o:1;', 
					data-transform_in='y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;', 
					data-transform_out='y:[100%];s:560;e:Power2.easeInOut;s:560;e:Power2.easeInOut;', 
					data-mask_out='x:inherit;y:inherit;s:inherit;e:inherit;', 
					data-start='0',
					data-responsive_offset='on'
					)
					| 15-19 October 2016
				// LAYER NR. 2
				h3.tp-caption.subtitle.tp-resizeme(
					data-x="['center','center','center','center']", 
					data-hoffset="['0','0','0','0']", 
					data-y="['middle','middle','middle','middle']", 
					data-voffset="['-125','-59','-55','-54']", 
					data-fontsize="['16','13','13','13']", 
					data-transform_idle='o:1;', 
					data-transform_in='z:0;rX:0deg;rY:0;rZ:0;sX:2;sY:2;skX:0;skY:0;opacity:0;s:1070;e:Power2.easeOut;', 
					data-transform_out='y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;', 
					data-mask_in='x:0px;y:0px;', 
					data-mask_out='x:inherit;y:inherit;s:inherit;e:inherit;', 
					data-start='1260',
					data-responsive_offset='on'
					)
					| CHAOS2016
				// LAYER NR. 3
				.tp-caption.tp-resizeme(
					data-x="['center','center','center','center']", 
					data-hoffset="['0','0','0','0']", 
					data-y="['middle','middle','middle','middle']", 
					data-voffset="['-160','-87','-80','-78']", 
					data-transform_idle='o:1;', 
					data-transform_in='z:0;rX:0deg;rY:0;rZ:0;sX:2;sY:2;skX:0;skY:0;opacity:0;s:1110;e:Power2.easeOut;', 
					data-transform_out='y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;', 
					data-mask_in='x:0px;y:0px;', 
					data-mask_out='x:inherit;y:inherit;s:inherit;e:inherit;', 
					data-start='1400',
					data-responsive_offset='on'
					)
					i.oli.oli-physics
				// LAYER NR. 4
				a.tp-caption.btn.btn-medium.btn-circle.btn-wide(
					href='registration.html', 
					target='_self', 
					data-x="['center','center','center','center']", 
					data-hoffset="['0','0','0','0']", 
					data-y="['middle','middle','middle','middle']", 
					data-voffset="['116','105','80','60']", 
					data-transform_idle='o:1;', 
					data-transform_in='z:0;rX:0deg;rY:0;rZ:0;sX:2;sY:2;skX:0;skY:0;opacity:0;s:1210;e:Power2.easeOut;', 
					data-transform_out='y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;', 
					data-mask_in='x:0px;y:0px;', 
					data-mask_out='x:inherit;y:inherit;s:inherit;e:inherit;', 
					data-start='1630',
					data-actions='', 
					data-responsive_offset='on', 
					data-responsive='off'
					)
					| Register Now
				// LAYER NR. 5
				.tp-caption.rev-scroll-btn(
					data-x="['center','center','center','center']", 
					data-hoffset="['0','0','0','0']", 
					data-y="['bottom','bottom','bottom','bottom']", 
					data-voffset="['50','50','50','30']", 
					data-width='35', 
					data-height='55', 
					data-whitespace='nowrap', 
					data-visibility="['on','on','on','off']", 
					data-transform_idle='o:1;', 
					data-transform_in='y:50px;opacity:0;s:1430;e:Power3.easeInOut;', 
					data-transform_out='y:50px;opacity:0;s:1000;s:1000;', 
					data-start='1920',
					data-actions='[{"event":"click","action":"scrollbelow","offset":"0px"}]', 
					data-basealign='slide', 
					data-responsive_offset='off', 
					data-responsive='off'
					)
					span
		