#rev_slider_10_1_wrapper.rev_slider_wrapper.fullwidthbanner-container
  // START REVOLUTION SLIDER 5.2.4 fullwidth mode
  #rev_slider_10_1.rev_slider.fullwidthabanner
    ul
      // SLIDE
      li(
        data-index='rs-18', 
        data-transition='fade', 
        data-slotamount='default', 
        data-hideafterloop='0', 
        data-hideslideonmobile='off', 
        data-easein='Power2.easeInOut', 
        data-easeout='default', 
        data-masterspeed='2000', 
        data-delay='9070', 
        data-rotate='0', 
        data-saveperformance='off', 
        data-title='Slide', 
        data-param1='', 
        data-param2='', 
        data-param3='', 
        data-param4='', 
        data-param5='', 
        data-param6='', 
        data-param7='', 
        data-param8='', 
        data-param9='', 
        data-param10='', 
        data-description='')
        // MAIN IMAGE
        img.rev-slidebg(src='../assets/img/sliders/bg-8.jpg', alt='', 
          data-bgposition='center center', 
          data-kenburns='on', 
          data-duration='30000', 
          data-ease='Linear.easeNone', 
          data-scalestart='160', 
          data-scaleend='100', 
          data-rotatestart='0', 
          data-rotateend='0', 
          data-offsetstart='0 0', 
          data-offsetend='0 0', 
          data-bgparallax='3', 
          data-no-retina='')
        // LAYERS
        // LAYER NR. 1
        #slide-18-layer-1.tp-caption.tp-shape.tp-shapewrapper(
          data-x="['center','center','center','center']", 
          data-hoffset="['0','0','0','0']", 
          data-y="['middle','middle','middle','middle']", 
          data-voffset="['0','0','0','0']", 
          data-width='full', 
          data-height='full', 
          data-whitespace='nowrap', 
          data-transform_idle='o:1;', 
          data-transform_in='opacity:0;s:2000;e:Power2.easeInOut;', 
          data-transform_out='opacity:0;s:500;', 
          data-start='0', 
          data-basealign='slide', 
          data-responsive_offset='off', 
          data-responsive='off'
          )  
        // LAYER NR. 2
        h1.title.tp-caption(
          data-x="['center','center','center','center']", 
          data-hoffset="['0','0','0','0']", 
          data-y="['middle','middle','middle','middle']", 
          data-voffset="['-110','-110','-108','-108']", 
          data-fontsize="['50','70','50','50']", 
          data-lineheight="['70','70','50','50']", 
          data-width='none', 
          data-height='none', 
          data-whitespace='nowrap', 
          data-transform_idle='o:1;', 
          data-transform_in='y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:600;e:Power3.easeInOut;', 
          data-transform_out='opacity:0;s:300;', 
          data-mask_in='x:0px;y:0px;', 
          data-start=800,
          data-splitin='none', 
          data-splitout='none', 
          data-responsive_offset='on') Education 
        // LAYER NR. 3
        h2.description.tp-caption.tp-resizeme(
          data-x="['center','center','center','center']", 
          data-hoffset="['1','0','0','0']", 
          data-y="['middle','middle','middle','middle']", 
          data-voffset="['-43','-41','-46','-46']", 
          data-width="['none','none','380','480']", 
          data-height='none', 
          data-whitespace="['nowrap','nowrap','normal','normal']", 
          data-transform_idle='o:1;', 
          data-transform_in='y:50px;opacity:0;s:800;e:Power2.easeInOut;', 
          data-transform_out='opacity:0;s:300;', 
          data-start='1000', 
          data-splitin='none', 
          data-splitout='none', 
          data-responsive_offset='on') We have been building science classes since 1830 
        // LAYER NR. 4
        #slide-18-layer-22.tp-caption.tp-resizeme(
          data-x="['center','center','center','center']", 
          data-hoffset="['300','300','197','197']", 
          data-y="['bottom','bottom','bottom','bottom']", 
          data-voffset="['0','0','-1','-1']", 
          data-width='none', 
          data-height='none', 
          data-whitespace='nowrap', 
          data-transform_idle='o:1;', 
          data-transform_in='x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:900;e:Power3.easeInOut;', 
          data-transform_out='opacity:0;s:300;', 
          data-mask_in='x:0px;y:0px;', 
          data-start='2000', 
          data-responsive_offset='on', style='z-index: 8;')
          img(src='../assets/img/sliders/screen1.png', alt='', 
            data-ww="['306px','306px','306px','306px']", 
            data-hh="['172px','172px','172px','172px']", 
            data-no-retina='')
        // LAYER NR. 5
        #slide-18-layer-23.tp-caption.tp-resizeme(
          data-x="['center','center','center','center']", 
          data-hoffset="['-300','-300','-212','-212']", 
          data-y="['bottom','bottom','bottom','bottom']", 
          data-voffset="['0','0','0','0']", 
          data-width='none', 
          data-height='none', 
          data-whitespace='nowrap', 
          data-transform_idle='o:1;', 
          data-transform_in='x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:900;e:Power3.easeInOut;', 
          data-transform_out='s:300;', 
          data-mask_in='x:0px;y:0px;', 
          data-start='2000', 
          data-responsive_offset='on', style='z-index: 9;')
          img(src='../assets/img/sliders/screen3.png', alt='', 
            data-ww="['278px','278px','278px','278px']", 
            data-hh="['161px','161px','161px','161px']", 
            data-no-retina='')
        // LAYER NR. 6
        #slide-18-layer-21.tp-caption.tp-resizeme(
          data-x="['center','center','center','center']", 
          data-hoffset="['0','0','0','0']", 
          data-y="['bottom','bottom','bottom','bottom']", 
          data-voffset="['0','0','0','0']", 
          data-width='none', 
          data-height='none', 
          data-whitespace='nowrap', 
          data-transform_idle='o:1;', 
          data-transform_in='z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:900;e:Power3.easeInOut;', 
          data-transform_out='s:300;', 
          data-start='1630', 
          data-responsive_offset='on', style='z-index: 10;')
          img(src='../assets/img/sliders/screen2.png', alt='', 
            data-ww="['660','660','483px','483px']", 
            data-hh="['361','361','272px','272px']", 
            data-no-retina='')
        // LAYER NR. 7
        a.tp-caption.tp-resizeme(
          href="#",
          data-x="['center','center','center','center']", 
          data-hoffset="['0','0','2','2']", 
          data-y="['bottom','bottom','bottom','bottom']", 
          data-voffset="['160','160','93','93']", 
          data-width='none', 
          data-height='none', 
          data-whitespace='nowrap', 
          data-transform_idle='o:1;', 
          data-transform_hover='o:1;rX:0;rY:0;rZ:0;z:0;s:0;e:Linear.easeNone;', 
          data-style_hover='c:rgba(255, 255, 255, 1.00);', 
          data-transform_in='z:0;rX:0deg;rY:0;rZ:0;sX:2;sY:2;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;', 
          data-transform_out='s:300;', 
          data-mask_in='x:0px;y:0px;s:inherit;e:inherit;', 
          data-start='3360', 
          data-actions='[{"event":"click","action":"startlayer","layer":"slide-18-layer-19","delay":""},{"event":"click","action":"startlayer","layer":"slide-18-layer-15","delay":""},{"event":"click","action":"startlayer","layer":"slide-18-layer-20","delay":""},{"event":"click","action":"playvideo","layer":"slide-18-layer-15","delay":"1000"}]', 
          data-responsive_offset='on', style='z-index: 11;cursor:pointer;')
          img(src='../assets/img/sliders/play-btn.png', alt='', 
            data-ww='', 
            data-hh='', 
            data-no-retina='')
        // LAYER NR. 8
        #slide-18-layer-19.tp-caption.tp-shape.tp-shapewrapper(
          data-x="['center','center','center','center']", 
          data-hoffset="['0','0','0','0']", 
          data-y="['middle','middle','middle','middle']", 
          data-voffset="['0','0','0','0']", 
          data-width='full', 
          data-height='full', 
          data-whitespace='nowrap', 
          data-transform_idle='o:1;', 
          data-transform_in='opacity:0;s:2000;e:Power2.easeInOut;', 
          data-transform_out='opacity:0;s:500;', 
          data-start='bytrigger', 
          data-basealign='slide', 
          data-responsive_offset='off', 
          data-responsive='off', 
          data-end='bytrigger', 
          data-lasttriggerstate='reset',
          style="background-color:rgba(0, 0, 0, 0.75);border-color:rgba(0, 0, 0, 0);")  
        // LAYER NR. 9
        #slide-18-layer-15.tp-caption.tp-resizeme.tp-videolayer(
          data-x="['center','center','center','center']", 
          data-hoffset="['0','0','0','0']", 
          data-y="['middle','middle','middle','middle']", 
          data-voffset="['0','0','0','0']", 
          data-whitespace='nowrap', 
          data-transform_idle='o:1;', 
          data-transform_in='z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;', 
          data-transform_out='auto:auto;s:500;', 
          data-start='bytrigger', 
          data-responsive_offset='on', 
          data-vimeoid='142874198', 
          data-videoattributes='title=0&byline=0&portrait=0&api=1', 
          data-videowidth="['960px','720px','480px','480px']", 
          data-videoheight="['540px','405px','270px','270px']", 
          data-videoloop='none', 
          data-viodelargecontrols='off', 
          data-end='bytrigger', 
          data-lasttriggerstate='reset', 
          data-autoplay='off', 
          data-volume='100')  
        // LAYER NR. 10
        #slide-18-layer-20.tp-caption.Agency-CloseBtn.rev-btn(
          data-x="['center','center','center','center']", 
          data-hoffset="['510','389','270','270']", 
          data-y="['middle','middle','middle','middle']", 
          data-voffset="['-298','-229','-163','-163']", 
          data-width='50', 
          data-height='none', 
          data-whitespace='nowrap', 
          data-transform_idle='o:1;', 
          data-transform_hover='o:1;sX:1.1;sY:1.1;rX:0;rY:0;rZ:0;z:0;s:500;e:Power1.easeInOut;', 
          data-style_hover='c:rgba(255, 255, 255, 1.00);', 
          data-transform_in='z:0;rX:0;rY:0;rZ:45deg;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:500;e:Power3.easeInOut;', 
          data-transform_out='auto:auto;s:500;', 
          data-start='bytrigger', 
          data-splitin='none', 
          data-splitout='none', 
          data-actions='[{"event":"click","action":"stoplayer","layer":"slide-18-layer-15","delay":""},{"event":"click","action":"stoplayer","layer":"slide-18-layer-19","delay":""},{"event":"click","action":"stoplayer","layer":"slide-18-layer-20","delay":""}]', 
          data-responsive_offset='on', 
          data-responsive='off', 
          data-end='bytrigger', 
          data-lasttriggerstate='reset')
          i.oli.oli-delete_sign
    .tp-bannertimer.tp-bottom(style='visibility: hidden !important;')
// END REVOLUTION SLIDER
