extends ../../_layouts/lo-normal/fullwidth
append config
	- var dirPrefix = '../'
	- var PSbodyClass = bodyClasses.push('sticky-header')
	- var PSwrapperClasses = wrapperClasses.push('regular-layout')
	- var PSheaderClasses = headerClasses.push(' dark trans sticky-light') 
	- var bcType = "intitle"
	- var currentMenu = "Home"
	- var PageTitleHead = "Chaos theme"
	- var pageTitle = "Bring Order Out Of Chaos!"
	- var pageTitleClass = ''
	- var pageTitleImage = dirPrefix+"assets/img/backgrounds/18.jpg"
	- var pageTitleParallaxMode = "bg"
	-loadeExtraAssets.push('revolution')
mixin list()
	a(href="#" data-toggle="tooltip" data-original-title="homepage")
		i.fa.fa-home
	a(href="#" data-toggle="tooltip" data-original-title="Biography")
		i.fa.fa-user
	a(href="#" data-toggle="tooltip" data-original-title="Facebook")
		i.fa.fa-facebook
	a(href="#" data-toggle="tooltip" data-original-title="Twitter")
		i.fa.fa-twitter
block page-title
	.page-head.parallax-layer.center-it.dark.bg-white.h-700(data-img-src=dirPrefix+"assets/img/backgrounds/18.jpg", data-parallax-mode="mode-title")
		.container
			.tb-vcenter-wrapper
				.title-wrapper.vcenter.parallax-layer(data-parallax-mode="mode-header-content")
					.sp-blank-50
					h4.head Chaos Theme
					h1.title Bring Order Out Of Chaos!
					.sp-blank-50
					a.btn.btn-medium.btn-circle.btn-skin-red.btn-icon-right.btn-anim-i(href="#") 
						i.oli.oli-forward
						span Explore the lab
block main-area
	// btn
	//- section
	//- 	.text-center
	//- 			a.btn.btn-large.btn-circle.btn-skin-red.btn-icon-right.btn-anim-i.pull-up-450.pull-up-xs-300(href="#") 
	//- 				i.oli.oli-forward
	//- 				span Explore the lab
	// about section
	section.section.p-bottom-0: .container
		// #####Begin heading
		.heading-with-sub.text-center
			h2.title About CHAOS Research Center
			h4.subtitle
				mixin lorem(20)
		// #####End heading
		.sp-blank-50
		.row
			.col-md-7
				.text-center
					a.ol-lightbox(href='http://www.youtube.com/watch?v=0O2aH4XLbto', data-type='iframe', title='some title')
						img(src=dirPrefix+'assets/img/macbook-1.png', alt='image hover')
			.col-md-5
				.sp-blank-50
				// #####Begin iconbox v4
				.row
					.col-sm-6.col-md-12
						.icon-box.ib-v4
							i.oli.oli-globe
							h6.title.with-shaded-label
								span.shaded-label.text-uppercase Who
								| Who we are?
							p Phasellus lectus sem, egestas eget sollicitudin ut, lobortis ac nulla. Phasellus lectus sem, egestas eget sollicitudin ut.
						// #####End iconbox v4
						.sp-blank-50
					.col-sm-6.col-md-12
						// #####Begin iconbox v4
						.icon-box.ib-v4
							i.oli.oli-trophy2
							h6.title.with-shaded-label
								span.shaded-label.text-uppercase What
								| What we do?
							p Phasellus lectus sem, egestas eget sollicitudin ut, lobortis ac nulla. Phasellus lectus sem, egestas eget sollicitudin ut.
						// #####End iconbox v4
		.sp-blank-50.shadow-line
	
	// people section
	section.section: .container
		.row.multi-columns-row.col-margin-bottom-30
			.col-md-3.col-sm-6
				// #####Begin person card
				.vc-card.boxed.ol-animate.fadeInUp
					a(href="#")
						img(src=dirPrefix+"assets/img/people/01.jpg", alt="people")
					.vc-card-wrapper
						a.title(href="#") Dr.Prof. Kerr Waylon
						.subtitle
							| Dean
					.links
						+list()
				// #####End person card
			.col-md-3.col-sm-6
				// #####Begin person card
				.vc-card.boxed.ol-animate.fadeInUp(data-delay='0.3s')
					a(href="#")
						img(src=dirPrefix+"assets/img/people/02.jpg", alt="people")
					.vc-card-wrapper
						a.title(href="#") Dr. Celestine Wilfred
						.subtitle
							| Associate Dean, Degree Programmes
					.links
						+list()
				// #####End person card
			.col-md-3.col-sm-6
				// #####Begin person card
				.vc-card.boxed.ol-animate.fadeInUp(data-delay='0.6s')
					a(href="#")
						img(src=dirPrefix+"assets/img/people/03.jpg", alt="people")
					.vc-card-wrapper
						a.title(href="#") Dr.Prof. Woody Terence
						.subtitle
							| Associate Dean, marketting
					.links
						+list()
				// #####End person card
			.col-md-3.col-sm-6
				// #####Begin person card
				.vc-card.boxed.ol-animate.fadeInUp(data-delay='0.9s')
					a(href="#")
						img(src=dirPrefix+"assets/img/people/04.jpg", alt="people")
					.vc-card-wrapper
						a.title(href="#") Dr. Quinlan Granville
						.subtitle
							| Associate Dean
					.links
						+list()
				// #####End person card
	// call to action
	section.section.parallax-layer.ov-light-alpha-90(data-img-src=dirPrefix+"assets/img/backgrounds/09.jpg")
		.container
			.row
				// #####Begin call to action
				.call-out.tb-vcenter-wrapper
					.col-md-9.vcenter.ol-animate.fadeInLeft
						h2.title Fellowship opportunities available
						h4.sub-title Absolutely Stunning Design & Functionality Common Things Expected
					.col-md-3.vcenter.text-center.ol-animate.fadeInRight
						a.btn.btn-medium.btn-anim-i.btn-skin-dark.btn-icon-right.btn-circle(href='#') 
							i.oli.oli-forward
							span Apply now
				// #####End call to action
	// projects section
	section.section
		.container
			// #####Begin heading
			.heading-with-sub.text-center
				h2.title Research Projects 
				h4.subtitle We publish news about latest changes, announcements and recent projects
			// #####End heading
			.sp-blank-30
			// #####Begin grid filters
			.ol-grid-filters
				ul.default-filters
					li.active
						a(href="#" data-filter="*") Show All
					li
						a(href="#" data-filter=".art-work") Artwork
					li
						a(href="#" data-filter=".banner") Banner
					li
						a(href="#" data-filter=".marketing") Marketing
					li
						a(href="#" data-filter=".design") Design
				
				.select-filters
					select
						option(value="*") Show All
						option(value=".art-work") Artwork
						option(value=".banner") Banner
						option(value=".marketing") Marketing
						option(value=".design") Design
			// #####End grid filters
			.ol-grid.grid.col-3
				// #####Begin grid item
				.grid-item.ratio-2.banner.marketing.ol-animate.fadeIn(data-delay='0s')
					.gi-wrapper.ol-hover.hover-4
						.img-layer.set-bg
							img(src=dirPrefix+"assets/img/portfolio/07.jpg", alt='image hover')
						.ol-overlay.ov-grad1-alpha-20
						.cover.ov-dark-alpha-95
						.icons
							a(href=dirPrefix+"assets/img/portfolio/07.jpg").ol-lightbox: i.oli.oli-search
							a(href="#"): i.oli.oli-right
						h3.title: a(href="#") Thomaean pultaceous
						h4.subtitle: a(href="#") Category
				// #####End grid item
				// #####Begin grid item
				.grid-item.ratio-2.banner.design.ol-animate.fadeIn(data-delay='0.2s')
					.gi-wrapper.ol-hover.hover-4
						.img-layer.set-bg
							img(src=dirPrefix+"assets/img/portfolio/08.jpg", alt='image hover')
						.ol-overlay.ov-grad1-alpha-20
						.cover.ov-dark-alpha-95
						.icons
							a(href=dirPrefix+"assets/img/portfolio/08.jpg").ol-lightbox: i.oli.oli-search
							a(href="#"): i.oli.oli-right
						h3.title: a(href="#") calibrator etna
						h4.subtitle: a(href="#") Category
				// #####End grid item
				// #####Begin grid item
				.grid-item.ratio-2.art-work.ol-animate.fadeIn(data-delay='0.4s')
					.gi-wrapper.ol-hover.hover-4
						.img-layer.set-bg
							img(src=dirPrefix+"assets/img/portfolio/01.jpg", alt='image hover')
						.ol-overlay.ov-grad1-alpha-20
						.cover.ov-dark-alpha-95
						.icons
							a(href=dirPrefix+"assets/img/portfolio/01.jpg").ol-lightbox: i.oli.oli-search
							a(href="#"): i.oli.oli-right
						h3.title: a(href="#") oftentimes urotoxin
						h4.subtitle: a(href="#") Category
				// #####End grid item
				// #####Begin grid item
				.grid-item.ratio-2.banner.marketing.art-work.design.ol-animate.fadeIn(data-delay='0.6s')
					.gi-wrapper.ol-hover.hover-4
						.img-layer.set-bg
							img(src=dirPrefix+"assets/img/portfolio/02.jpg", alt='image hover')
						.ol-overlay.ov-grad1-alpha-20
						.cover.ov-dark-alpha-95
						.icons
							a(href=dirPrefix+"assets/img/portfolio/02.jpg").ol-lightbox: i.oli.oli-search
							a(href="#"): i.oli.oli-right
						h3.title: a(href="#") forewritten midvein
						h4.subtitle: a(href="#") Category
				// #####End grid item
				// #####Begin grid item
				.grid-item.ratio-2.banner.design.ol-animate.fadeIn(data-delay='0.8s')
					.gi-wrapper.ol-hover.hover-4
						.img-layer.set-bg
							img(src=dirPrefix+"assets/img/portfolio/03.jpg", alt='image hover')
						.ol-overlay.ov-grad1-alpha-20
						.cover.ov-dark-alpha-95
						.icons
							a(href=dirPrefix+"assets/img/portfolio/03.jpg").ol-lightbox: i.oli.oli-search
							a(href="#"): i.oli.oli-right
						h3.title: a(href="#") aqueomercurial hypocrisy
						h4.subtitle: a(href="#") Category
				// #####End grid item
				// #####Begin grid item
				.grid-item.ratio-2.art-work.design.ol-animate.fadeIn(data-delay='1s')
					.gi-wrapper.ol-hover.hover-4
						.img-layer.set-bg
							img(src=dirPrefix+"assets/img/portfolio/04.jpg", alt='image hover')
						.ol-overlay.ov-grad1-alpha-20
						.cover.ov-dark-alpha-95
						.icons
							a(href=dirPrefix+"assets/img/portfolio/04.jpg").ol-lightbox: i.oli.oli-search
							a(href="#"): i.oli.oli-right
						h3.title: a(href="#") archetypally ostiolar
						h4.subtitle: a(href="#") Category
				// #####End grid item
	// News Section
	section.section.bg-gray
		.container
			// #####Begin heading
			.heading-with-sub.text-center
				h2.title Latest Announcements 
				h4.subtitle We publish news about latest changes, announcements and recent projects
			// #####End heading
			.sp-blank-30
			// #####Begin carousel
			.owl-carousel.items.owwwlab-theme.nav-top-center(data-margin="30",data-nav="true", data-loop="true")
				// #####Begin journal element
				a.journal-el.set-bg(href="news-single.html")
					img.set-me(src=dirPrefix+"assets/img/publications/grid/04.jpg")
					.contents
						.header
							h6 11 Sep - 21 Sep 2015
						.footer
							h6.sub-title By John Doe</br>
								|In Students News
							h2.title Relational Geographies
				// #####End journal element
				// #####Begin journal element
				a.journal-el.set-bg.skin-green(href="news-single.html")
					img.set-me(src=dirPrefix+"assets/img/publications/grid/03.jpg")
					.contents
						.header
							h6 5 Sep 2015
						.footer
							h6.sub-title By John Doe</br>
								|In Students News
							h2.title Postgraduate mixer at the Chelsea MA show
				// #####End journal element
				// #####Begin journal element
				a.journal-el.skin-purple(href="news-single.html")
					.contents
						.header
							h6 8 Sep 2015
						.footer
							h6.sub-title By John Doe</br>
								|In Students News
							h2.title Meeting
				// #####End journal element
				// #####Begin journal element
				a.journal-el.set-bg.skin-blue(href="news-single.html")
					img.set-me(src=dirPrefix+"assets/img/publications/grid/04.jpg")
					.contents
						.header
							h6 11 Sep - 21 Sep 2015
						.footer
							h6.sub-title By John Doe</br>
								|In Students News
							h2.title Relational Geographies
				// #####End journal element
				// #####Begin journal element
				a.journal-el.set-bg.skin-yellow(href="news-single.html")
					img.set-me(src=dirPrefix+"assets/img/publications/grid/03.jpg")
					.contents
						.header
							h6 5 Sep 2015
						.footer
							h6.sub-title By John Doe</br>
								|In Students News
							h2.title Postgraduate mixer at the Chelsea MA show
				// #####End journal element
				// #####Begin journal element
				a.journal-el.set-bg.skin-lemon(href="news-single.html")
					img.set-me(src=dirPrefix+"assets/img/publications/grid/02.jpg")
					.contents
						.header
							h6 8 Sep 2015
						.footer
							h6.sub-title By John Doe</br>
								|In Students News
							h2.title Meeting
				// #####End journal element
				// #####Begin journal element
				a.journal-el.set-bg.skin-cyan(href="news-single.html")
					img.set-me(src=dirPrefix+"assets/img/publications/grid/04.jpg")
					.contents
						.header
							h6 11 Sep - 21 Sep 2015
						.footer
							h6.sub-title By John Doe</br>
								|In Students News
							h2.title Relational Geographies
				// #####End journal element
			// #####End carousel
	// Testimonials
	section.section: .container
		// #####Begin heading
		.heading-with-sub.text-center
			h2.title Don&#39;t take it from us, see what other people say!
			h4.subtitle Here is an awesome quick description about it that is class.
		// #####End heading
		.sp-blank-50
		
		.row
			.col-md-4
				// #####Begin single testimonial
				.testimonial-item
					.avatar.avatar-sm
						img(src=dirPrefix+'assets/img/avatars/05.jpg', alt='Owl Image')
					.texts
						p
							mixin lorem(15)
						h4.their-name Martha M. Masters
						div.their-cite 
							| Marketing -
							a(href="#") Google
				// #####End single testimonial
			.col-md-4
				// #####Begin single testimonial
				.testimonial-item
					.avatar.avatar-sm
						img(src=dirPrefix+'assets/img/avatars/06.jpg', alt='Owl Image')
					.texts
						p
							mixin lorem(15)
						h4.their-name Martha M. Masters
						div.their-cite 
							| Marketing -
							a(href="#") Google
				// #####End single testimonial
			.col-md-4
				// #####Begin single testimonial
				.testimonial-item
					.avatar.avatar-sm
						img(src=dirPrefix+'assets/img/avatars/07.jpg', alt='Owl Image')
					.texts
						p
							mixin lorem(15)
						h4.their-name Martha M. Masters
						div.their-cite 
							| Marketing -
							a(href="#") Google
				// #####End single testimonial
	// call to action
	section.section.dark-wrapper.parallax-layer.ov-dark-alpha-70(data-img-src=dirPrefix+"assets/img/backgrounds/18.jpg",data-parallax-mode="mode-2")
		.container
			// #####Begin call to action
			.call-out.text-center
					h2.title Fellowship opportunities available
					h4.sub-title Absolutely Stunning Design & Functionality Common Things Expected
					.sp-blank-20
					a.btn.btn-medium.btn-circle.btn-thick-border.btn-trans.btn-skin-white(href='#')
						i.oli.oli-timer
						span Apply now
			// #####End call to action
//- prepend customjs
//- 	include /_partials/blocks/sliders/slider1-js